<div class="about">
    <div class="container">

        <h1 class="fw-bold text-center">ABOUT SECTION</h1>
        <div class=" ABOUT d-flex justify-content-center align-items-center">
        
              <div>
                <div class="border-bottom-left"></div>
              </div>
            
      
            
              <div class="icon">
                <i class="fa-solid fa-star"></i>
              </div>
            
            
              <div>
                <div class="border-bottom-right"></div>
              </div>
            
          </div>
      
        
    </div>
    <div class="row text-start">
        <div class="col-md-6 col-sm-12">
            <p>
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS and JavaScript as well as optional SASS stylesheets for easy customization. 

            </p>
        </div>
        <div class="col-md-6 col-sm-12 ">
            <p>
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS and JavaScript as well as optional SASS stylesheets for easy customization. 

            </p>
        </div>

    </div>
</div>