<div class="container w-100 w-md-50 ">
  <h1 class="fw-bold text-center">CONTACTS SECTION</h1>
  
  <div class=" d-flex justify-content-center align-items-center">
  
        <div>
          <div class="border-bottom-left"></div>
        </div>
        <div class="icon">
          <i class="fa-solid fa-star"></i>
        </div>
      
      
        <div>
          <div class="border-bottom-right"></div>
        </div>
      
    </div>
    <div class="col-md-5 m-auto">
      <form action="">
        <div class="mt-5">
          <input type="text" class="form-control border-0 border-bottom py-4 " id="formGroupExampleInput" placeholder="userName">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control border-0 border-bottom py-4 " id="formGroupExampleInput" placeholder="userAge">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control border-0 border-bottom py-4" id="formGroupExampleInput" placeholder="userEmail">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control border-0 border-bottom py-4 " id="formGroupExampleInput" placeholder="userPassword">
        </div>
        <button type="submit" class="btn m-3">send message</button> 
      </form>
    </div>
</div>




