<div class="home">
    <div class="text-center">
<img src="./assets/avataaars.svg" alt="">

<div class="container">
    <h1 class="fw-bold text-center">START FRAMEWORK</h1>
    
    <div class=" ABOUT d-flex justify-content-center align-items-center">
    
          <div>
            <div class="border-bottom-left"></div>
          </div>
        
  
        
          <div class="icon">
            <i class="fa-solid fa-star"></i>
          </div>
        
        
          <div>
            <div class="border-bottom-right"></div>
          </div>
        
      </div>
      <p>Graphic Artist - Web Designer - Illustrator</p>
</div>
    </div>
</div>
